/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MC-Form {
  height: 0;
  overflow: hidden;
}
 */

.form__input.error {
  border-bottom: 1px solid #d32f2f;
}
label.error, .email-suggestion {
  color: #d32f2f; 
  padding-top: 5px;
  letter-spacing: 0.15em;
  line-height: 1.4em;
  font-size: smaller;
}

.email-suggestion {
  cursor: pointer;
}

#sign {
  position: relative;
}

.loading-cover {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}

.fas {
  color: #009302;
  position: absolute;
  top: 48%;
  left: 48%;
}

#birth-year {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;
  border-radius: 0;
}

option {
  color: black;
}